<% content_for :title, @auction.item_name %>

<%= @auction.render_all_bids %>

<div id="buy_it_now_errors" class="alert alert-block alert-error" style="display:none;">
</div>

<h1><%= @auction.item_name %></h1>
<%= @auction.item_description %>

<dl class="dl-horizontal">
  <dt>Seller</dt>
  <dd><%= @auction.seller_name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Buy it now price</dt>
  <dd><%= @auction.buy_it_now_price %></dd>
</dl>

<%= @auction.render_end_date %>

<%= @auction.render_winner %>

<%= @auction.render_last_bid %>

<div class="form-actions">
  <%= @auction.render_actions %>
</div>
